$primary: #101010;
$dark-primary: #800020;
$light-primary: #6f6e74;
$text: #212121;
$primary-text: #212121;
$secondary-text: #757575;
$date: #f5f5f5;
$timeline-item-background: #f5f5f5;

.hero-table { 
  margin-left: 10%;
  margin-right: 10%;
}

.timeline {

	position: relative;

	&::before {
		content: '';
		background: $light-primary;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.timeline-item {
	width: 100%;
	margin-bottom: 10px;

	.timeline-content {
		float: left;
	}

	&:nth-child(even) {

		.timeline-content {
			float: right;

			.date {
				right: auto;
				// left: 0;

				position: absolute;
				top: 3px;
				left: 5px;
			}
		}
	}

	// &::after {
	// 	content: '';
	// 	display: block;
	// 	clear: both;
	// }
}

.timeline-title {
	font-size: 0.75rem;
	margin: 10px 5px 10px 5px;
}

.timeline-content {
	position: relative;
	width: 45%;
	margin-top: 30px;
	padding: 20px 10px 10px 10px;
	border-radius: 10px;
	background: $timeline-item-background;
	box-shadow: 0px 20px 25px -15px rgba(0, 0, 0, .3);
}

.timeline-icon {
	width: 30px;
	height: 30px;
	// background: $primary;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

// .timeline-card {
// 	padding: 0!important;

// 	p {
// 		padding: 0 20px;
// 	}

// 	a {
// 		margin-left: 20px;
// 	}
// }

.timeline-item {
  .timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
			background-size: cover;
		}
}

.timeline-img-header {

	height: 200px;
	position: relative;
	margin-bottom: 20px;

	h2 {
		color: $text;
		position: absolute;
		bottom: 5px;
		left: 20px;
	}
}

// blockquote {
// 	margin-top: 30px;
// 	color: $secondary-text;
// 	// border-left-color: $primary;
// 	padding: 0 20px;
// }

.date {
	background: $date;
	display: inline-block;
	color: $text;
	padding: 10px, 5px, 10px, 5px;

	position: absolute;
	top: 3px;
	right: 5px;

	border-radius: 2px;
}

@media screen and (max-width: 768px) {

	// .timeline {

	// 	&::before {
	// 		left: 50px;
	// 	}

	// 	.timeline-img {
	// 		left: 50px;
	// 	}

	// 	.timeline-content {
	// 		max-width: 100%;
	// 		width: auto;
	// 		margin-left: 70px;
	// 	}

	// 	.timeline-item {

	// 		.timeline-content {
	// 			float: right;
	// 		}

	// 	}
	// }

	.logo__mark {
		max-width: 250px;
	}

	.video-container {
		max-width: 100%;
	}
	
}

.theme-toggler {
	fill: currentColor;
}

.posts {
	width: 100%;
	max-width: 800px;
	text-align: left;
	padding: 20px;
	margin: 20px auto;
}
  
.container {
	flex: 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
  
.content {
	display: flex;
	flex-direction: column;
	flex: 1 auto;
	align-items: center;
	justify-content: center;
	margin: 0;
  
	@media #{$media-size-phone} {
	  margin-top: 0;
	}
}

.hidden {
	display: none;
}