{{ define "main" }}
{{ $paginator := .Paginate .Data.Pages }}


<main class="posts">
    <h1 align="center">{{.Site.Params.TimelineTitle}}</h1>
    {{ if .Content }}
    <div class="content">{{ .Content }}</div>
    {{ end }}
    <section class="timeline">
      <div class="container" style="text-align: left!important">
        {{ range .Pages.ByDate  }} 

        <div class="timeline-item">
            <div class="timeline-icon"></div>

            <a href="{{.Permalink}}">
                <div class="timeline-content js--fadeInLeft">
                    <p class="timeline-title">{{.Title}}</p>
                    <div class="date" >{{ .Date.Format "Jan 2, 2006"}}</div>
                    <!-- <p>
                        {{.Params.Eventname}}<br>
                        {{.Params.Eventlocation}}

                    </p>  -->
                </div>
            </a>
        </div>  
        {{ end }}   
    </div>
</section>



</main>
{{ end }}
